{% extends "/Base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
{{ parent() }}
{% if articles is empty %}
    <div class="d-flex center column">
        <div class="bubble">
            <div class="bubble-text">
                <h1>Aucun article</h1>
                <hr>
                <p>Il y a aucun article acctuellement !!!</p>
            </div>
        </div>
        <img class="logonot" src="./img/Griffont_Termine.png" alt="Logo du site internet" />
    </div>
{% else %}
        <h1>Les derniers articles</h1>
        {% for article in articles %}
        <div class="articleMain mb-1">
            <a aria-label="Article {{article.title}}" href='/post/{{article.id}}'>
                <h2 class="center">{{article.title}}</h2>
                <h4 class="begin">{{article.body|length > 150 ? article.body|slice(0, 150) ~ '...' : article.body  }}</h4>
            </a>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}