{% extends "/Base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
    <h1>{{article[0].title}}</h1>
    <div class="articleMain">
    <p class="begin">{{ article[0].body }}</p>
    </div>
    {% if comments is not empty %}
    <h3>Commentaire(s)</h3>
        {% for comment in comments %}
        <div class="comment">
            <h4>{{comment.title}}</h4>
            <p>{{comment.body}}</p>
        </div>
        {% endfor %}
    {% endif %}
    {% if  session.roles == ('User' or 'admin') %}
        <form class="d-flex column mt-1" action="#" method="POST">
            <input type="text" name="title" placeholder="Titre du commentaire"></input>
            <textarea class="mt-1 textarea" type="textarea" name="body" placeholder="Commentaire"></textarea>
            <input type="hidden" name="idpost" value={{article[0].id}}></input>
            <input type="hidden" name="iduser" value={{session.id}}></input>
            <input class="mt-1" type="submit" name="submit" value="Commenter"></input>
        </form>
    {% endif %}
{% endblock %}